apsw==3.16.2.post1
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
backports.shutil-get-terminal-size==1.0.0
chardet==3.0.4
cliapp==1.20170827
cmdtest==0.32
cryptography==2.1.4
decorator==4.1.2
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
funcsigs==1.0.2
gyp==0.1
idna==2.6
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
M2Crypto==0.27.0
Markdown==2.6.9
monotonic==1.0
more-itertools==4.2.0
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
pluggy==0.6.0
pretty==0.1
prettyprint==0.1.5
prompt-toolkit==1.0.15
py==1.5.3
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pytest==3.6.2
pyxdg==0.25
PyYAML==3.12
scandir==1.7
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
ttystatus==0.38
typing==3.6.2
wcwidth==0.1.7
